.cart {
  font-size: 18px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  font-size: 18px;
}
.row > * {
  width: 15%;
  padding: 10px;
}
.delete {
  cursor: pointer;
}
.total_cost {
  padding: 10px;
  border: none;
  font-weight: bold;
}
.btns_block button {
  margin-right: 20px;
}
